body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.intro {
  width : 100%;
  align : left;
}

.contact {
  clear: both;
  width: 100%;
}

.research {
  width: 100%;
}

ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
